JWT_SECRET=replace-with-a-strong-secret

AUTH_GRPC_URL=localhost:50051
USER_GRPC_URL=localhost:50052
DRIVER_GRPC_URL=localhost:50053

AUTH_GRPC_BIND_URL=0.0.0.0:50051
USER_GRPC_BIND_URL=0.0.0.0:50052
DRIVER_GRPC_BIND_URL=0.0.0.0:50053

GATEWAY_HTTP_PORT=3000
AUTH_HTTP_PORT=3001
USER_HTTP_PORT=3002
DRIVER_HTTP_PORT=3003

MONGODB_HOST=localhost
MONGODB_PORT=27017
DB_SYNC=false

AUTH_MONGODB_DB=oyana_auth
USER_MONGODB_DB=oyana_user
DRIVER_MONGODB_DB=oyana_driver